.left-menu {
    position: fixed !important;
    top: 0;
}

.code-text {
    position: relative;
}

.clipboard-img {
    position: absolute;
    right: 5px;
    width: 25px;
    top: 5px;
    cursor: pointer;
}

.search-block {
    display: block;
    color: white;
    padding: 10px;
}

.show-search {
    background: black;
}

@media (min-width: 1290px) {
    .max-w-prose {
        max-width: 84ch !important;
    }
}

@media (min-width: 1023px) {
    .keychainify-checked, p {
        word-break: break-all;
    }

    .mobile-fixed {
        position: fixed !important;
        z-index: 1;
    }

    .mobile-top {
        padding-top: 115px;
    }
}





